.categories {
  display: flex;
  flex-direction: column;
  .category {
    display: flex;
    flex-direction: column;
    .title {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 24px !important;
    }
    .checkbox-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .mat-checkbox {
        width: 25%;
      }
    }
  }
}
