<div class="categories">
  <div class="category" *ngFor="let category of OPERATION_TYPES | keys">
    <div class="title">
      <mat-checkbox
        id="{{category.key}}"
        (change)="onMasterCheckboxChanged($event)"
        [checked]="state[category.key] == operationTypesSizes[category.key]"
        [indeterminate]="state[category.key] != 0 && state[category.key] != operationTypesSizes[category.key]"
      >
        {{category.key}}
      </mat-checkbox>
    </div>
    <div class="checkbox-group">
      <mat-checkbox
        *ngFor="let type of category.value"
        id="{{type}}"
        (change)="onCheckboxStateChanged($event)"
        [checked]="selectedTypes.includes(type)"
      >
        {{type}}
      </mat-checkbox>
    </div>
  </div>
</div>
