<mat-card>
  <div *ngIf="!balances && !error" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="error" class="error-shade">{{error}}</div>

  <mat-table #table [dataSource]="dataSource" *ngIf="balances && balances.length > 0">
    <ng-container matColumnDef="resource">
      <mat-header-cell *matHeaderCellDef>Resource ID</mat-header-cell>
      <mat-cell *matCellDef="let b">1.3.{{b.resourceId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
      <mat-cell *matCellDef="let b">{{b.amount/100000000 | number:'1.8-8'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
  </mat-table>

  <div *ngIf="balances && balances.length < 1">
    There are no resources associated with this account
  </div>
</mat-card>
