@import '../../../../node_modules/@angular/material/theming';

.stats-container {
  display: block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 15px;
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 50px;
      padding-right: 10px;
    }
  }
}

.error {
  color: map_get($mat-red, 500);
}
