<div class="stats-container">
  <div class="stats">
    <div>
      <span>Head block number</span>
      <a *ngIf="dgp && !error" routerLink="/blocks/{{dgp.headBlockNumber}}">
        #{{dgp.headBlockNumber}}
      </a>
      <mat-spinner *ngIf="!dgp && !error" [diameter]="19"></mat-spinner>
      <span *ngIf="error" class="error">Failed to load</span>
    </div>
    <div>
      <span>Last irreversible block</span>
      <a *ngIf="dgp && !error" routerLink="/blocks/{{dgp.lastIrreversibleBlockNum}}">
        #{{dgp.lastIrreversibleBlockNum}}
      </a>
      <mat-spinner *ngIf="!dgp && !error" [diameter]="19"></mat-spinner>
      <span *ngIf="error" class="error">Failed to load</span>
    </div>
    <div>
      <span>Current miner</span>
      <a *ngIf="dgp && !error" routerLink="/miners/{{dgp.currentMiner.replace('1.4.', '')}}">
        {{dgp.currentMiner}}
      </a>
      <mat-spinner *ngIf="!dgp && !error" [diameter]="19"></mat-spinner>
      <span *ngIf="error" class="error">Failed to load</span>
    </div>
    <div>
      <span>Recently missed</span>
      <span *ngIf="dgp && !error">
        {{dgp.recentlyMissedCount}}
      </span>
      <mat-spinner *ngIf="!dgp && !error" [diameter]="19"></mat-spinner>
      <span *ngIf="error" class="error">Failed to load</span>
    </div>
    <div>
      <span>Mined rewards</span>
      <span *ngIf="dgp && !error">
        {{dgp.minedRewards/100000000 | number:'1.2-8'}} SPHTX
      </span>
      <mat-spinner *ngIf="!dgp && !error" [diameter]="19"></mat-spinner>
      <span *ngIf="error" class="error">Failed to load</span>
    </div>
  </div>
</div>
