<div>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="account"
      (keyup.enter)="viewAccount()"
      type="text"
      placeholder="Account ID or name"
    >
  </mat-form-field>
  &nbsp;
  <button
    mat-raised-button color="primary"
    (click)="viewAccount()"
    [disabled]="isLoading"
  >
    {{isLoading ? 'Please wait...' : 'View account'}}
  </button>
</div>
