.mat-card {
  min-height: 629px;
}

.mat-table {
  min-height: 550px;
}

.block-list {
  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.mat-column-height {
  flex: 0 0 120px;
}

.mat-column-operationCount, .mat-column-transactionCount {
  flex: 0 0 80px;
}

.mat-column-timestamp {
  flex: 0 0 200px;
}

.mat-column-view {
  display: flex;
  justify-content: flex-end;
}
