<!--suppress ALL -->

<div class="block-list">
  <div class="search-bar">
    <h3>{{minerId ? 'Blocks mined by 1.4.'+ minerId : 'Latest blocks'}}</h3>
    <view-block-form *ngIf="!minerId"></view-block-form>
  </div>

  <mat-card>
    <div *ngIf="initialLoading && !error" class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="error" class="error-shade">
      {{error}}
    </div>

    <mat-slide-toggle
      [color]="'primary'"
      [checked]="emptyBlocks"
      [disabled]="false"
      (change)="toggleEmptyBlocks()"
    >
      Include blocks with no transactions
    </mat-slide-toggle>

    <mat-table #table [dataSource]="dataSource"
               matSort
               matSortDisableClear="true"
    >
      <ng-container matColumnDef="height">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Block height</mat-header-cell>
        <mat-cell *matCellDef="let b">
          <a routerLink="/blocks/{{b.height}}">{{b.height}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transactionCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of transactions in the block">Tx count</mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.transactionCount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="operationCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of operations in the block">Op count</mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.operationCount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef>Timestamp ( in UTC )</mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.time | date:'medium'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="miner">
        <mat-header-cell *matHeaderCellDef>Miner</mat-header-cell>
        <mat-cell *matCellDef="let b">
          <a routerLink="/miners/{{b.miner.id}}">{{b.miner.account.name}} ( 1.4.{{b.miner.id}} )</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let b">
          <a routerLink="/blocks/{{b.height}}" mat-button>VIEW</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
    </mat-table>

    <br>

    <div *ngIf="!initialLoading">
      <!-- if blocks were loaded, but the dataset is empty -->
      <span *ngIf="!error && blocks.length < 1">
        There are no blocks.
      </span>

      <!-- if blocks were loaded, but end of results was reached -->
      <!-- don't show if there are no blocks                     -->
      <span *ngIf="!error && blocks.length > 0 && reachedEndOfResults">
            <button mat-raised-button disabled>No more blocks</button>
      </span>

      <button (click)="loadMore()" *ngIf="!error && !reachedEndOfResults && !loadMoreError" mat-raised-button color="primary">
        {{loading ? 'Loading...' : 'Load more blocks'}}
      </button>

      <button (click)="loadMore()" *ngIf="!error && !reachedEndOfResults && loadMoreError" mat-raised-button color="warn">
        Faild to load more blocks ( click to retry )
      </button>
    </div>
  </mat-card>
</div>
