<h3>
  Transaction <span class="highlighted-text">#{{txOrder}}</span>
  of block <a routerLink="/blocks/{{blockHeight}}">#{{blockHeight}}</a>
</h3>

<mat-card *ngIf="loading || error">
  <div *ngIf="loading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="error" class="error-shade">{{error}}</div>
</mat-card>

<transaction *ngIf="transaction" [index]="txOrder" [transaction]="transaction"></transaction>
