@import '../../node_modules/@angular/material/theming';

// theme colors
$sphtx-primary: $mat-teal;
$sphtx-accent: $mat-orange;
$primary-color: map_get($mat-teal, 500);
$background-color: map_get($mat-dark-theme-background, background);

// text colors
$link-color: map_get($mat-orange, 500);
