@import "theme";
@import "animations";

html, body {
  background-color: $background-color;
  color: $light-secondary-text;
  font-family: "DejaVu Sans", sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h1 {
      font-size: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      img {
        display: inline;
        width: 150px;
        position: absolute;
        cursor: pointer;
      }
      span {
        margin-left: 160px;
        line-height: 1;
        small {
          font-size: 14px;
          color: map_get($mat-teal, 500);
        }
      }
    }
    global-search {
      div {
        mat-form-field {
          .mat-form-field-wrapper {
            .mat-form-field-flex {
              .mat-form-field-infix {
                width: 300px;
              }
            }
          }
        }
      }
    }
  }
}

.highlighted-text {
  color: $primary-color;
  font-weight: 900;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 0.5s;
}

.error-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.50);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: map_get($mat-red, 500);
  font-size: 32px;
  padding: 16px;
  animation: fadein 0.5s;
}

// workaround for https://github.com/angular/material2/issues/5173
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}
