@import 'colors';

@include mat-core();

$sphtx-theme-primary: mat-palette($sphtx-primary);
$sphtx-theme-accent: mat-palette($sphtx-accent);
$sphtx-theme: mat-dark-theme($sphtx-theme-primary, $sphtx-theme-accent);
@include angular-material-theme($sphtx-theme);
