<h3>Block <span class="highlighted-text">#{{blockHeight}}</span></h3>
<mat-card>
  <div *ngIf="!block && !error" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="error" class="error-shade">{{error}}</div>
  <table class="block-view-table" *ngIf="block">
    <tbody>
    <tr>
      <td width="160">Timestamp ( UTC )</td>
      <td>{{block.timestamp | date:"medium"}}</td>
    </tr>
    <tr>
      <td>Miner</td>
      <td>
        <a routerLink="/miners/{{block.miner.id}}">{{block.miner.account.name}} ( 1.4.{{block.miner.id}} )</a>
      </td>
    </tr>
    <tr>
      <td>Transactions</td>
      <td>{{block.transactionCount}}</td>
    </tr>
    <tr>
      <td>Operations</td>
      <td>{{block.operationCount}}</td>
    </tr>
    <tr>
      <td>Miner signature</td>
      <td>
        <button (click)="viewMinerSignature()" mat-raised-button color="primary">
          View miner signature
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</mat-card>

<h3>Transactions</h3>
<transaction-list [blockHeight]="blockHeight"></transaction-list>
