<div>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="value"
      (keyup.enter)="search()"
      type="text"
      placeholder="Block / account / miner / transaction"
    >
  </mat-form-field>
  &nbsp;
  <button mat-raised-button color="primary" (click)="search()">Search</button>
</div>
