<form [formGroup]="blockHeightForm">
  <mat-form-field>
    <input matInput type="number" min="0" formControlName="from" [errorStateMatcher]="matcher" placeholder="Height from">
    <mat-error>Must be positive value lower than block to</mat-error>
  </mat-form-field>
  &nbsp;-&nbsp;
  <mat-form-field>
    <input matInput type="number" min="1" formControlName="to" [errorStateMatcher]="matcher" placeholder="Height to">
    <mat-error>Must be positive value greater than block from</mat-error>
  </mat-form-field>
</form>

<div style="margin-top: 20px;">
  <strong>Matching for: </strong>
  {{getMatchText()}}
</div>
