.mat-card {
  min-height: 358px;
}

.mat-table {
  min-height: 302px;
}

.mat-column-view {
  flex: 0 0 102px;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.op-type-select {
  width: 400px;
}
