<!--suppress ALL -->

<div class="miner-list">
  <mat-card>
    <div *ngIf="loading && !error" class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="error" class="error-shade">{{error}}</div>

    <mat-form-field class="op-type-select">
      <mat-select
        placeholder="Filter by types"
        [(value)]="selectedOpTypes"
        multiple
        (selectionChange)="updateOperations()"
      >
        <mat-select-trigger>
            <span *ngIf="selectedOpTypes.length != operationTypes.length">
              {{selectedOpTypes ? selectedOpTypes[0] : ''}}
              <span *ngIf="selectedOpTypes.length > 1" class="additional-selection">
                (+{{selectedOpTypes.length - 1}} other{{selectedOpTypes.length - 1>1?'s':''}})
              </span>
            </span>
          <span *ngIf="selectedOpTypes.length == operationTypes.length">
              All operations
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let type of operationTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;<button mat-raised-button color="primary" (click)="selectNone()">Select none</button>
    &nbsp;<button mat-raised-button color="primary" (click)="selectAll()">Select all</button>

    <mat-table #table [dataSource]="dataSource" *ngIf="operations && operations.length > 0">
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let o">
          {{o.type}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="block">
        <mat-header-cell *matHeaderCellDef>Block</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <a routerLink="/blocks/{{o.blockHeight}}">#{{o.blockHeight}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sender">
        <mat-header-cell *matHeaderCellDef>Sender</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <a *ngIf="o.sender.id != account.id" routerLink="/accounts/{{o.sender.id}}">
            {{o.sender.name}} ( 1.2.{{o.sender.id}} )
          </a>
          <strong *ngIf="o.sender.id == account.id">This account</strong>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="target">
        <mat-header-cell *matHeaderCellDef>Target</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <a *ngIf="o.target.id != account.id" routerLink="/accounts/{{o.target.id}}">
            {{o.target.name}} ( 1.2.{{o.target.id}} )
          </a>
          <strong *ngIf="o.target.id == account.id">This account</strong>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="asset+amount">
        <mat-header-cell *matHeaderCellDef matTooltip="Only available for transfer operation">
          Asset - amount <span style="size: 0.5rem">🛈</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let o">
          <span *ngIf="o.type === 'TRANSFER'">
            {{o.data.amount.asset_id == '1.3.0' ? 'SPHTX' : o.data.amount.asset_id}}
            - {{o.data.amount.amount/100000000 | number:'1.2-8'}}
          </span>
          <span *ngIf="o.type !== 'TRANSFER'">-</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let m">
          <button (click)="viewData(m.data)" mat-button>
            View data
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
    </mat-table>

    <div [style.display]="operations && operations.length > 0 ? 'block' : 'none'">
      <mat-paginator
        [length]="operationCount"
        [pageSizeOptions]="[5,10,25,50,100]"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>

    <div *ngIf="operations && operations.length < 1">
      There are no such operations assosiated with this account
    </div>
  </mat-card>
</div>
