<div class="main-container">
  <div class="header">
    <h1>
      <img (click)="goHome();" src="../assets/images/logo.svg" alt="SophiaTX">
      <span>Blockchain Explorer <small>// beta v0.5.2</small></span>
    </h1>
    <global-search></global-search>
  </div>
  <blockchain-stats></blockchain-stats>

  <navigation [items]="navItems"></navigation>

  <router-outlet></router-outlet>
</div>
