<mat-card>
  <h1>You reached the end of the blockchain.</h1>
  <p>Error 404.</p>
  <p>The page you tried to load is not available or the resource was not found.</p>
  <p>There is not much you can do about this, I would recommend a drink or two.</p>
  <br>
  <a mat-raised-button color="primary" disabled="">Go home</a>
  <a routerLink="/" mat-raised-button color="primary">Go to the bar</a>
</mat-card>

<br>

<small>Disclaimer: this easter egg was created by a bored programmer and was never approved by the management.</small>
