<form [formGroup]="accountsForm">
  <mat-form-field>
    <input matInput formControlName="senderAccount" [errorStateMatcher]="matcher" placeholder="Sender account">
    <mat-hint>Use name or account ID</mat-hint>
    <mat-error>{{senderAccountError}}</mat-error>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-select
      placeholder="Logical operator"
      (selectionChange)="updateOperator()"
      [(value)]="selectedOperator"
    >
      <mat-option *ngFor="let o of operators" [value]="o">
        {{ o }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput formControlName="targetAccount" [errorStateMatcher]="matcher" placeholder="Target account">
    <mat-hint>Use name or account ID</mat-hint>
    <mat-error>{{targetAccountError}}</mat-error>
  </mat-form-field>
</form>

<div style="margin-top: 20px;">
  <strong>Matching for: </strong>
  {{matchedSenderAccount}} &rarr; {{matchedTargetAccount}}
</div>
