.transaction {
  margin-bottom: 20px;
}

.transaction-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  h4 {
    display: inline;
    width: 150px; /* to make sure everything stays even when number gets bigger */
  }
}

.mat-column-view {
  flex: 0 0 100px;
  text-align: right;
}
