<div class="transaction">
  <mat-card>
    <div class="transaction-header">
      <h4>TX #{{transaction.orderInBlock}}</h4>
      <span>
        Ref. block: <a routerLink="/blocks/{{transaction.refBlockNum}}">#{{transaction.refBlockNum}}</a>
        / Prefix: {{transaction.refBlockPrefix}}
      </span>
      <button (click)="viewTxSignatures()" mat-button color="primary">
        View signatures
      </button>
    </div>

    <mat-table #table [dataSource]="transaction.operations">
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let o">{{o.type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sender">
        <mat-header-cell *matHeaderCellDef>Sender</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <span *ngIf="o.sender===null">Unknown / none</span>
          <a *ngIf="o.sender!==null" routerLink="/accounts/{{o.sender.id}}">
            {{o.sender.name}} ( 1.2. {{o.sender.id}} )
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="target">
        <mat-header-cell *matHeaderCellDef>Target</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <span *ngIf="o.target===null">Unknown / none</span>
          <a *ngIf="o.target!==null" routerLink="/accounts/{{o.target.id}}">
            {{o.target.name}} ( 1.2. {{o.target.id}} )
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="asset">
        <mat-header-cell *matHeaderCellDef matTooltip="Only available for transfer operation">Asset 🛈</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <span *ngIf="o.type!=='TRANSFER'">-</span>
          <span *ngIf="o.type==='TRANSFER'">{{o.data.amount.asset_id == '1.3.0' ? 'SPHTX' : o.data.amount.asset_id}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef matTooltip="Only available for transfer operation">Amount 🛈</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <span *ngIf="o.type!=='TRANSFER'">-</span>
          <span *ngIf="o.type==='TRANSFER'">{{o.data.amount.amount/100000000 | number:'1.2-8'}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let o">
          <button (click)="viewOperationData(o)" mat-button>
            View data
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>
