.mat-table {
  min-height: 550px;
}

.mat-column-view {
  flex: 0 0 100px;
  text-align: right;
}

.mat-column-id {
  flex: 0 0 100px;
}

.mat-column-account {
  flex: 0 0 200px;
}

.miner-list {
  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
