<!--suppress ALL -->

<div class="miner-list">
  <div class="search-bar">
    <h3>Miners</h3>
    <view-miner-form></view-miner-form>
  </div>

  <mat-card>
    <div *ngIf="loading && !error" class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="error" class="error-shade">{{error}}</div>

    <mat-table #table [dataSource]="dataSource"
               matSort
               matSortDisableClear="true"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Miner ID</mat-header-cell>
        <mat-cell *matCellDef="let m">
          <a routerLink="/miners/{{m.id}}">1.4.{{m.id}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="account">
        <mat-header-cell *matHeaderCellDef>Account</mat-header-cell>
        <mat-cell *matCellDef="let m">
          <a routerLink="/accounts/{{m.account.id}}">{{m.account.name}} ( 1.2.{{m.account.id}} )</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalVotes">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total votes</mat-header-cell>
        <mat-cell *matCellDef="let m">
          {{m.totalVotes/100000000 | number:'1.2-8'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalMissed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total missed</mat-header-cell>
        <mat-cell *matCellDef="let m">
          {{m.totalMissed}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let m">
          <a routerLink="/miners/{{m.id}}" mat-button>VIEW</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="minerCount"
      [pageSizeOptions]="[5,10,25,50]"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </mat-card>
</div>
