<div>
  <mat-form-field>
    <input
      matInput
      (keyup)="onInput($event)"
      (keyup.enter)="viewBlock()"
      type="text"
      placeholder="Block #"
    >
  </mat-form-field>
  &nbsp;
  <button mat-raised-button color="primary" (click)="viewBlock()">View block</button>
</div>
