<div>
  <mat-form-field>
    <input
      matInput
      (keyup)="onInput($event)"
      (keyup.enter)="viewMiner()"
      type="text"
      placeholder="Miner ID"
    >
  </mat-form-field>
  &nbsp;
  <button mat-raised-button color="primary" (click)="viewMiner()">View miner</button>
</div>
