<!--suppress ALL -->

<div class="account-list">
  <div class="search-bar">
    <h3>Accounts</h3>
    <view-account-form></view-account-form>
  </div>

  <mat-card>
    <div *ngIf="loading && !error" class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="error" class="error-shade">{{error}}</div>

    <mat-table #table [dataSource]="dataSource"
               matSort
               matSortDisableClear="true"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Account ID</mat-header-cell>
        <mat-cell *matCellDef="let a">
          <a routerLink="/accounts/{{a.id}}">1.2.{{a.id}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Account name</mat-header-cell>
        <mat-cell *matCellDef="let a">{{a.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="mainBalance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Balance ( SPHTX )</mat-header-cell>
        <mat-cell *matCellDef="let a">
          {{a.mainBalance/100000000 | number:'1.2-8'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registrar">
        <mat-header-cell *matHeaderCellDef>Registrar</mat-header-cell>
        <mat-cell *matCellDef="let a">
          <a *ngIf="a.registrarId" routerLink="/accounts/{{a.registrarId}}">1.2.{{a.registrarId}}</a>
          <span *ngIf="!a.registrarId">-</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="miner">
        <mat-header-cell *matHeaderCellDef>Miner</mat-header-cell>
        <mat-cell *matCellDef="let a">
          <a *ngIf="a.minerId" routerLink="/miners/{{a.minerId}}">1.4.{{a.minerId}}</a>
          <span *ngIf="!a.minerId">-</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let a">
          <a routerLink="/accounts/{{a.id}}" mat-button>VIEW</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="accountCount"
      [pageSizeOptions]="[5,10,25,50]"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </mat-card>
</div>
