<h3>Account <span class="highlighted-text">1.2.{{accountId}}</span></h3>
<mat-card>
  <div *ngIf="!account && !error" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="error" class="error-shade">{{error}}</div>

  <table *ngIf="account" class="account-view-table">
    <tbody>
    <tr>
      <td width="140">Name</td>
      <td>
        {{account.name}}
      </td>
    </tr>
    <tr>
      <td>Balance</td>
      <td>{{account.mainBalance/100000000 | number:'1.2-8'}} SPHTX</td>
    </tr>
    <tr>
      <td>Registrar</td>
      <td>
        <a *ngIf="account.registrarId"
           routerLink="/accounts/{{account.registrarId}}">1.2.{{account.registrarId}}</a>
        <i *ngIf="!account.registrarId">This is initial account ( no registrar ).</i>
      </td>
    </tr>
    <tr>
      <td>Miner</td>
      <td>
        <a *ngIf="account.minerId"
           routerLink="/miners/{{account.minerId}}">1.4.{{account.minerId}}</a>
        <i *ngIf="!account.minerId">This account does not have a miner.</i>
      </td>
    </tr>
    </tbody>
  </table>
</mat-card>

<h3>All Balances</h3>
<account-balances [accountId]="accountId"></account-balances>

<div *ngIf="account">
  <h3>Latest Operations</h3>
  <account-operations [account]="account"></account-operations>
</div>
