<transaction *ngFor="let transaction of transactions" [transaction]="transaction"></transaction>

<span *ngIf="transactions && transactions.length < 1">
  There are no transactions in the block.
</span>

<span *ngIf="error">{{error}}</span>

<span *ngIf="transactions && transactions.length > 0 && reachedEndOfResults">
  <button mat-raised-button disabled>No more transactions</button>
</span>

<button (click)="loadMore()" *ngIf="!error && !reachedEndOfResults" mat-raised-button color="primary">
  {{loading ? 'Loading... ' : 'Load more transactions'}}
</button>
