<h3>Miner <span class="highlighted-text">1.4.{{minerId}}</span></h3>
<mat-card>
  <div *ngIf="!miner && !error" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="error" class="error-shade">{{error}}</div>
  <table *ngIf="miner" class="miner-view-table">
    <tbody>
    <tr>
      <td>Account</td>
      <td>
        <a routerLink="/accounts/{{miner.account.id}}">{{miner.account.name}} ( 1.2.{{miner.account.id}} )</a>
      </td>
    </tr>
    <tr>
      <td>Total votes</td>
      <td>{{miner.totalVotes/100000000 | number:'1.8-8'}}</td>
    </tr>
    <tr>
      <td>Total missed</td>
      <td>{{miner.totalMissed | number}}</td>
    </tr>
    </tbody>
  </table>
</mat-card>

<block-list [minerId]="minerId"></block-list>
