@import '../../../styles/colors.scss';

.navigation {
  display: block;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid $light-dividers;
  font-family: "DejaVu Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 16px;
  .bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .item {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $light-secondary-text;
      height: 48px;
      padding: 0 24px;
      cursor: pointer;
      min-width: 112px;
      &.active {
        color: $light-primary-text;
        background-color: rgba(map_get($sphtx-accent, 300), 0.1);
        border-bottom: 2px solid map_get($sphtx-accent, 700);
      }
      &:hover {
        color: $light-primary-text;
      }
    }
  }
}
