<div class="navigation">
  <div class="bar">
    <div class="item"
         *ngFor="let item of items; let i = index"
         [class.active]="item.active"
         mat-ripple
         (click)="selectItem(i)"
    >{{item.title}}</div>
  </div>
</div>
