<!--suppress ALL -->

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Operation type
      </mat-panel-title>
      <mat-panel-description>
        Filter operations by their type
      </mat-panel-description>
    </mat-expansion-panel-header>
    <operation-type-selector></operation-type-selector>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sender & target accounts
      </mat-panel-title>
      <mat-panel-description>
        Filter by an account that sent the operation or an account the operation was targetted to
      </mat-panel-description>
    </mat-expansion-panel-header>
    <accounts-selector></accounts-selector>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Block height
      </mat-panel-title>
      <mat-panel-description>
        Filter operations by a blocks in which they are stored
      </mat-panel-description>
    </mat-expansion-panel-header>
    <block-height-selector></block-height-selector>
  </mat-expansion-panel>
</mat-accordion>

<br>

<div class="miner-list">
  <mat-card>
    <div *ngIf="service.isLoading() && !service.getError()" class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="service.getError()" class="error-shade">{{service.getError()}}</div>

    <mat-table #table [dataSource]="dataSource" *ngIf="service.getOperations().getValue().length > 0">
      <ng-container matColumnDef="block">
        <mat-header-cell *matHeaderCellDef>Block</mat-header-cell>
        <mat-cell *matCellDef="let o">
          {{o.blockHeight}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tx">
        <mat-header-cell *matHeaderCellDef>TX #</mat-header-cell>
        <mat-cell *matCellDef="let o">
          {{o.orderOfTxInBlock}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="op">
        <mat-header-cell *matHeaderCellDef>OP #</mat-header-cell>
        <mat-cell *matCellDef="let o">
          {{o.orderInTX}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let o">
          {{o.type}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sender">
        <mat-header-cell *matHeaderCellDef>Sender</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <a *ngIf="o.sender.id != accountId" routerLink="/accounts/{{o.sender.id}}">
            {{o.sender.name}} ( 1.2.{{o.sender.id}} )
          </a>
          <strong *ngIf="o.sender.id == accountId">This account</strong>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="target">
        <mat-header-cell *matHeaderCellDef>Target</mat-header-cell>
        <mat-cell *matCellDef="let o">
          <a *ngIf="o.target.id != accountId" routerLink="/accounts/{{o.target.id}}">
            {{o.target.name}} ( 1.2.{{o.target.id}} )
          </a>
          <strong *ngIf="o.target.id == accountId">This account</strong>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="asset">
        <mat-header-cell *matHeaderCellDef matTooltip="Only available for transfer operation">
          Asset <span style="size: 0.5rem">🛈</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let o">
          <span *ngIf="o.type === 'TRANSFER'">
            {{o.data.amount.asset_id == '1.3.0' ? 'SPHTX' : o.data.amount.asset_id}}
          </span>
          <span *ngIf="o.type !== 'TRANSFER'">-</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amt">
        <mat-header-cell *matHeaderCellDef matTooltip="Only available for transfer operation">
          Amount <span style="size: 0.5rem">🛈</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let o">
          <span *ngIf="o.type === 'TRANSFER'">
            {{o.data.amount.amount/100000000 | number:'1.2-8'}}
          </span>
          <span *ngIf="o.type !== 'TRANSFER'">-</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let m">
          <button (click)="viewData(m.data)" mat-button>
            View data
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
    </mat-table>

    <div [style.display]="service.getOperations().getValue().length > 0 ? 'block' : 'none'">
      <mat-paginator
        [length]="totalRows"
        [pageSizeOptions]="[5,10,25,50,100]"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>

    <div *ngIf="service.getOperations().getValue().length < 1">
      There are no operations matching the filter
    </div>
  </mat-card>
</div>
