.mat-card {
  min-height: 603px;
}

.mat-table {
  min-height: 302px;
}

.mat-column-view {
  flex: 0 0 102px;
}

.mat-column-tx, .mat-column-op {
  flex: 0 0 50px;
}

.mat-column-block {
  flex: 0 0 120px;
}

.mat-column-asset {
  flex: 0 0 100px;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.op-type-select {
  width: 400px;
}
